.mobile-menu {
    right: -100%;
}

.slide {
    animation: slide 1s ease forwards;
    -webkit-animation: slide 1s ease forwards;
}

.slideOut {
    animation: slideOut 1s ease forwards;
    -webkit-animation: slideOut 1s ease forwards;
}

@keyframes slide {
    0% {
        transform: translateX(500vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500vw);
    }
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul li ul {
    display: none;
}

.mobile-menu ul li:hover ul {
    display: block;
}

.mobile-menu ul {
    background: linear-gradient(to right, transparent 0%, transparent 30%, #165DB2 30%, #165DB2 100%);
}

.bg-after {
    right: -100%;
}

.compound-experience {
    background: linear-gradient(to top, #f0f0f0 0%, #f0f0f0 30%, #165DB2 30%, #165DB2 100%);
}

.control {
    justify-content: right;
}

.mobi-menu li {
    animation: reveal 1s forwards;
}

.button-hamburger.close div:nth-child(1) {
    animation: turn-left .5s forwards ease-out;
}

.button-hamburger.close div:nth-child(2) {
    animation: slide-out .5s forwards ease-out;
}

.button-hamburger.close div:nth-child(3) {
    animation: turn-right .5s forwards ease-out;
}

@keyframes slide-out {
    0% {}
    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

@keyframes turn-left {
    0% {}
    100% {
        transform: rotate(45deg);
        transform-origin: 0% 0%;
    }
}

@keyframes turn-right {
    0% {}
    100% {
        transform: rotate(-45deg);
        transform-origin: 0% 100%;
    }
}


/*intro-animation*/

.box {
    z-index: 99;
    background: #3279ce;
    width: 100%;
    height: 100%;
    transition: all 1s linear;
    display: flex;
    top: 0px;
    position: fixed;
}

.box img {
    width: 75%;
    animation: fadeIn 1s ease-in-out forwards;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav .hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.is-right {
    -webkit-display: flex;
    -webkit-flex-direction: row-reverse;
}

.dot {
    transform: translateY(-6.8em);
    -webkit-transform: translateY(-6.8em);
}

.item-list::-webkit-scrollbar {
    display: none;
}

.item-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 1023px) and (min-width: 1px) {
    .product-box::-webkit-scrollbar {
        display: none;
    }
    .product-box {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media only screen and (min-width: 768px) {
    .compound-experience .inner-wrap::before {
        display: block;
        background-color: #8f240215;
        content: '';
        width: 100%;
        height: 100%;
    }
    .box img {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .product-box::-webkit-scrollbar {
        height: 50px;
        background: linear-gradient(to top, transparent 33%, #fdfdfd 33%, #fdfdfd 76%, transparent 76%, transparent 100%);
    }
    .product-box::-webkit-scrollbar-thumb {
        height: 50px;
        background: linear-gradient(to top, transparent 45%, gray 45%, gray 64%, transparent 64%, transparent 100%);
    }
}

@media only screen and (min-width: 1280px) {
    .compound-experience {
        background: linear-gradient(to left, #f0f0f0 0%, #f0f0f0 45%, #165DB2 45%, #165DB2 100%);
    }
}

@media only screen and (min-width: 1024px) {
    .box img {
        width: 25%;
    }
}